@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=ZCOOL+KuaiLe&display=swap');

.hidden {
    display: none !important;
}

.image-text {
    font-size: 100px;
    font-weight: bold;
    font-family: "ZCOOL KuaiLe", sans-serif;
    background-image: url('media/metal-texture-1.jpg'); 
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    display: inline-block;
  }

body{
    height: 100vh;
    font-family: Caveat, cursive;
    background-color: rgb(233, 233, 222);
    overflow-y: hidden;
    border: 2px dashed rgba(0, 0, 0, 0.601);
    color: rgba(0, 0, 0, 0.836);
    border-radius: 20px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.title img{
    width: 400px;
}

.new__game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.start{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options button{
    background: transparent;
    border: none;
}

.options button img{
    width: 250px;
}

.options button img:hover {
    filter: drop-shadow(0 0 10px rgba(0, 183, 255, 0.8));
    cursor: pointer;
  }

.scoreboard{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: space-evenly;
    height: 350px;
}

.game--button{
    border: 2px dashed rgba(0, 0, 0, 0.601);
    color: rgba(0, 0, 0, 0.836);
    font-family: Caveat, cursive;
    border-radius: 40px;
    background-color: none;
    font-size: 40px;
    padding: 15px;
    padding-right: 20px;
    cursor: pointer;
}

.game--button:hover{
    background-color: rgb(250, 238, 208);
}

.result-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.result-window-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    max-width: 400px;
}

.result-window-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.result-window-content p {
    font-size: 18px;
    margin: 10px 0;
}